.container
  #account-page.account-page
    .account-page__inner.clearfix.row
      .account-page__inner--left.account-page__header.col-lg-6
        %h2 ユーザーログイン
        = render "users/shared/links"
        <br>
        %h3 以下の情報でログインできます
        %h3 Email: user@gmail.com
        %h3 Password: userpass
      .account-page__inner--right.user-form.col-lg-6
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            .field-label
              = f.label :email, "メールアドレス"
            .field-input
              = f.email_field :email, autofocus: true
            .field
              .field-label
                = f.label :password, "パスワード"
                %i (英数字6文字以上)
              .field-input
                = f.password_field :password, autocomplete: "off"
            .actions
              = f.submit "ログイン", class: 'btn'
