.container
  .topics-show-wrapper
    %h1=@topic.title
    .contents
      - @topic.responses.each_with_index do |response, index|
        %ul.content
          %li.content__information
            = index+1
            = response.user.nickname
            = response.created_at.strftime("%Y/%m/%d %H:%M:%S")
            = "ID: #{response.user.id}"
          %li.content__text
            = response.content
    .new-response
      = form_with(model: @response, local: true, class: "new-response-form") do |form|
        = form.label :content, "レスを投稿する", class: "new-response-form__label"
        <br>
        = form.text_area :content, class: "new-response-form__text"
        = form.hidden_field :topic_id, value: @topic.id
        .new-response-form__submit
          = form.submit "書き込む", class: "form-submit btn btn-primary"
