!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 5.5ch
    = csrf_meta_tags
    = csp_meta_tag
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %link{rel: "stylesheet", href: "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", integrity: "sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin: "anonymous"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container_overflow
      .header
        .header-nav
          %h1.app-name
            %a{ href: "/" } 5.5ch
          %ul.header-contents
            %li.header-contents__content
              = link_to "検索", class: 'btn'
            %li.header-contents__content.name
              ユーザー様
            -if user_signed_in?
              %li.header-contents__content
                = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
            -else
              %li.header-contents__content
                = link_to "新規登録", new_user_registration_path, class: 'btn'
              %li.header-contents__content
                = link_to "ログイン", new_user_session_path, class: 'btn'
    = yield
