.container
  #account-page.account-page
    .account-page__inner.clearfix.row
      .account-page__inner--left.account-page__header.col-lg-6
        %h2 ユーザー登録
        = render "users/shared/links"
      .account-page__inner--right.user-form.col-lg-6
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .field
            .field-label
              = f.label :nickname, "名前"
            .field-input
              = f.text_field :nickname, autofocus: true
          .field
            .field-label
              = f.label :email, "メールアドレス"
            .field-input
              = f.email_field :email
          .field
            .field-label
              = f.label :password, "パスワード"
              %i (英数字6文字以上)
            .field-input
              = f.password_field :password, autocomplete: "off"
          .field
            .field-label
              = f.label :password_confirmation, "パスワード(確認用)"
            .field-input
              = f.password_field :password_confirmation, autocomplete: "off"
          .actions
            = f.submit "ユーザー登録", class: 'btn'
